.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
  
    .logo img {
      height: 45px;
      width: 45px;
      filter: invert(100%);
    }
  
    .search-bar {
      flex-grow: 1;
      margin: 0 2rem;
      max-width: 300px;
  
      input {
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        background-color: #f1f1f1;
        color: #333;
        outline: none;
        display: flex;
        align-items: center;
  
        &::placeholder {
          color: #888;
        }
      }
    }
  
    .icons {
      display: flex;
      align-items: center;
  
      a {
        margin: 0 0.5rem;
  
        img {
          height: 24px;
          width: 24px;
          filter: invert(100%);
          transition: transform 0.3s;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  